@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins bg-bodyWhite text-sm text-[#666];
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-[#333];
  }
  img {
    @apply max-w-full max-h-full;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-[#333];
  }
}

@layer components {
  .btn {
    @apply flex items-center justify-center px-6 py-2 text-center text-white capitalize transition rounded-sm bg-primary hover:bg-primaryHover;
  }
  .label-basic {
    @apply block mb-2 text-xs font-bold tracking-wide text-gray-700 uppercase;
  }
  .input-basic {
    @apply block w-full px-4 py-3 leading-tight text-gray-700 bg-gray-200 rounded appearance-none focus:outline-none focus:bg-white;
  }
  .form-input {
    height: 2.5rem;
    width: 100%;
    border-radius: 0.25rem;
    border-width: 1px;
    border-color: inherit;
    background-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  .textarea-basic {
    @apply block w-full h-32 px-4 py-3 leading-tight text-gray-700 bg-gray-200 rounded appearance-none focus:outline-none focus:bg-white;
  }
}
